In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("Datathon Campus Edition - Dataset cut (copy).xlsx")

In [14]:
data.columns=['combined col']
data.head()
data2=data.copy()

In [24]:
fil=data['combined col'].str.split('|')
len(fil.head()[0])

9

In [26]:
sno=[]
x=[]
loc1=[]
loc2=[]
code=[]
y=[]
city=[]
state=[]
postal=[]


for i in range(0,100):
    sno.append(fil[i][0])
    x.append(fil[i][1])
    loc1.append(fil[i][2])
    loc2.append(fil[i][3])
    code.append(fil[i][4])
    y.append(fil[i][5])
    city.append(fil[i][6])
    state.append(fil[i][7])
    postal.append(fil[i][8])

In [31]:

#change column names here for data frame


dic={
    'x':x,
    'loc1':loc1,
    'loc2':loc2,
    'code':code,
    'y':y,
    'city':city,
    'state':state,
    'postal':postal
    
}

In [33]:
data2=pd.DataFrame(dic,index=sno)

In [36]:
data2.head()

                                        combined col
0  1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3        4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007
4      5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055

In [40]:
data2.to_csv("Cleaned data")